@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Footer {
  display: grid;
  grid-gap: 15px; 
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  background-color: #294230;
  color: #fff;
  margin-top: 50px;
}
.Footer {
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
    color: rgb(180, 230, 16);

}
.Footer h1{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

}