.Footer {
  display: grid;
  grid-gap: 5px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  background-color: #294230;
  color: #fff;
  margin-top: 50px;
}
.Footer p{
    font-size: smaller;

}
.Footer h1{
    font-size: 25px;
    font-weight: bolder;
}