.Details{
    margin-top: 100px;
}
#fact p{
    font-size: 25px;
    margin: 30px;
    display: inline;
    line-height: 100px;
  
}
#fact{
    border:  solid 3px black; 
    border-radius: 10px;
    color: rgb(73, 73, 247);
   
}
#floor{
    padding: 10px;
    border: solid 3px black; 
    border-radius: 10px;
    background-color: #d1dbe4;
}
.Details h1{
    text-transform: capitalize;
    text-align: center;

}
.Details #p{
    text-transform: capitalize;
    background-color: #d7dde4;
    padding: 10px;
   font-weight: 400;
   border-radius: 10px;
}


@media all and (max-width: 768px) {
     #fact p{
        font-size: 20px;
        margin: 10px;
        display: inline;
        line-height: 40px;
     }
     iframe{
        width: 100%;

     }
    }